p {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: black;
}

#siteTitle {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 72px;
  color: black;
}

#entireSite {
  text-align: center;
  position: absolute;
  top: 25%;
  bottom: 50%;
  width: 100%;
}

#subTitle {
  font-family: Menlo, Inconsolata, Consolas, "Courier New", monospace;
  color: black;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: black;
}

header {
  width: 100%;
  color: black;
}

img {
  width: 50px;
  height: 50px;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

.links-table {
  border-spacing: 10px;
  border-collapse: separate;
}

.black-links {
  color: black;
}

/*# sourceMappingURL=main.css.map */
